@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,cyrillic);
/*********** Mixins **************/
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content-full {
  padding-bottom: 100px;
}
a {
  color: #bcd0e5;
}
a:hover,
a:active {
  color: #19868F;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  margin: 0 auto;
  max-width: 1040px;
}
.wrap {
  margin: 0 10px;
}
/* Header */
.header-main {
  background-color: #244e81;
}
.header-logo {
  float: left;
}
.header-logo a {
  display: inline-block;
}
.header-title {
  float: right;
  padding: 10px 10px;
  font-size: 21px;
  color: #bcd0e5;
}
/* Slider */
.slider-content {
  min-height: 350px;
  font-size: 0;
  background-color: #ffffff;
//  background: #ffffff url('img/slider_placeholder.jpg') right center no-repeat;
  background-size: cover;
}
.slider-content img {
  max-width: 100%;
  height: auto;
}
/* Main Navigation */
.main-nav {
  background-color: #244e81;
}
#menu-top-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
#menu-top-menu:hover li.active a {
  background-color: #19868F;
}
#menu-top-menu:hover li.active a:hover {
  color: #ffffff;
  background-color: #19868F;
}
#menu-top-menu:hover li.active:hover a {
  color: #ffffff;
  background-color: #19868F;
}
#menu-top-menu:hover li.active > .sub-menu a {
  color: #bcd0e5;
  background-color: #19868F;
}
#menu-top-menu:hover li.active > .sub-menu a:hover {
  color: #ffffff;
  background-color: #19868F;
}
#menu-top-menu li {
  display: inline-block;
  position: relative;
}
#menu-top-menu li.active a {
  background-color: #19868F;
}
#menu-top-menu li.menu-item-has-children:hover {
  background-color: #19868F;
}
#menu-top-menu li.menu-item-has-children:hover > .sub-menu {
  opacity: 1;
  left: 0;
  z-index: 50;
  transition: 0.5s opacity;
}
#menu-top-menu li.menu-item-has-children:hover::after {
  transform: scaleY(-1);
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}
#menu-top-menu li.menu-item-has-children::after {
  content: '';
  position: absolute;
  top: 18px;
  right: 8px;
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: #000000;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}
#menu-top-menu li > .sub-menu {
  position: absolute;
  width: 125%;
  left: -99999px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
}
#menu-top-menu li > .sub-menu li {
  display: block;
  width: 100%;
}
#menu-top-menu li > .sub-menu a {
  display: block;
  width: auto;
  padding: 10px 20px;
  background-color: #244e81;
  border-bottom: 1px solid darkgray;
}
#menu-top-menu li > .sub-menu a:hover {
  background-color: #19868f;
}
#menu-top-menu a {
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 18px;
}
#menu-top-menu a:hover {
  color: #bcd0e5;
  background-color: #19868f;
}
#menu-top-menu a:active {
  color: #bcd0e5;
}
/* Main Content */
.main h1,
.main h2,
.main h3 {
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
  text-transform: capitalize;
}
.main.page-catalog .catalog {
  padding-left: 208px;
}
.page-title {
  margin-top: 30px;
  background-color: gainsboro;
}
.page-title h1,
.page-title h2 {
  margin: 0;
  font-size: 32px;
}
.content {
  margin-top: 30px;
}
.content h2 {
  margin-top: 0;
}
/* Sidebar */
.sidebar {
  float: left;
  width: 200px;
  margin-top: 30px;
}
.sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-menu ul a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}
.sidebar-menu ul a:hover {
  color: #ffffff;
  background-color: darkgray;
}
/* Catalog */
.catalog {
  margin: 30px auto 0 auto;
  max-width: 1040px;
  font-size: 0;
}
.catalog-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 170px;
  margin: 0 19px 20px 19px;
  font-size: 16px;
  background: #ffffff;
}
.catalog-item:hover .catalog-img {
  box-shadow: 0 3px 15px rgba(41, 52, 73, 0.4);
}
.catalog-item:hover .catalog-content h3 {
  font-weight: bold;
}
.catalog-img a {
  display: block;
  width: 100%;
  min-height: 238px;
  font-size: 0;
  line-height: 1;
//  background: #ffffff url('../img/catalog_poster_cat.jpg') center center no-repeat;
  background-size: cover;
}
.catalog-content {
  padding: 5px;
}
.catalog-title h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
}
.catalog-title h3 a {
  text-decoration: none;
}
.catalog-info span {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}
.catalog-info .year {
  color: gray;
}
.movie {
  padding: 10px;
}
.movie-player {
  float: right;
  width: 71%;
  min-height: 58px;
  background-color: #123456;
}
.movie-info-poster {
  float: left;
  width: 27%;
}
.movie-info-poster img {
  width: 100%;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Movie page */
/* Footer */
.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  background-color: gainsboro;
}
.main-footer p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 10px;
}
/* Responsive */
@media screen and (max-width: 1046px) {
  .catalog {
    max-width: 832px;
  }
}
@media screen and (max-width: 843px) {
  .catalog {
    max-width: 624px;
  }
}
@media screen and (max-width: 635px) {
  .catalog {
    max-width: 416px;
  }
}
