html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  font-family: @font-base;
  font-size: @base-font-size;
  color: @text-color;
  background-color: #cccccc;
}

html,
body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content-full {
  padding-bottom: @height-footer;
}

.main {
  background-color: #f2f2f2;
}

a {
  color: @text-color;

  &:hover,
  &:active {
    color: @active-color;
  }
}

h1, h2, h3, h4 {
  color: @light-color;
  font-weight: 300;
}

/*
img {
  max-width: 100%;
  height: auto;
}
*/

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: @max-w-container;
}

.wrap {
  margin: 0 @wrap-out;

  @media @desktop-widths {
    margin-right: 2*@wrap-out;
    margin-left: 2*@wrap-out;
  }
}