html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  font-family: @font-base;
  font-size: 18px;
  color: @text-color;
  background-color: #cccccc;

  @media @mobile-width {
    font-size: 14px;
  }
}

html,
body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  @media only screen and (min-width: 1057px) {
    width: @max-w-container;
  }
}

.content-full {
  display: table-row;
  height: 100%;
  background-color: @light-color;
}

.main {
  background-color: #f2f2f2;

  &--white {
    background-color: @light-color;
  }
}

.welcome {
  padding: 40px 10px;
  text-align: center;
  background-color: #f2f2f2;

  @media @tablet-big-width {
    padding: 60px 110px;
  }
}

a {
  color: @text-color;

  &:hover,
  &:active {
    color: @active-color;
  }
}

h1, h2, h3, h4 {
  color: @light-color;
  font-family: @font-base-cond;
  font-weight: 300;
}

/*
img {
  max-width: 100%;
  height: auto;
}
*/

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: @max-w-container;
}

.wrap {
  margin: 0 @wrap-out;

  @media @desktop-width {
    margin-right: 2*@wrap-out;
    margin-left: 2*@wrap-out;
  }
}