@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
html {
  height: 100%;
}
body {
  min-width: 320px;
  height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #cccccc;
}
html,
body {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content-full {
  padding-bottom: 100px;
}
.main {
  background-color: #f2f2f2;
}
a {
  color: #000000;
}
a:hover,
a:active {
  color: #ff0000;
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-weight: 300;
}
/*
img {
  max-width: 100%;
  height: auto;
}
*/
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1040px;
}
.wrap {
  margin: 0 20px;
}
.header-main {
  position: relative;
  z-index: 15;
  height: 100px;
  padding: 20px 0;
  margin-bottom: 40px;
  background-color: #006699;
}
.header-main--index {
  margin-bottom: 0;
}
.header-main__logo {
  float: left;
  margin-right: 20px;
}
.header-main__logo a {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.header-main__title {
  float: left;
  width: 100px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  background-color: #244e81;
}
.main-footer p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 10px;
}
.lang-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-left: 10px;
}
.lang-list li {
  display: inline-block;
  vertical-align: top;
  padding: 15px 10px;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
}
.lang-list li.active a {
  color: #ff0000;
}
.lang-list li:last-child {
  padding-right: 0;
}
.lang-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}
.main-nav {
  float: right;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  background-color: transparent;
}
#menu-top-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
#menu-top-menu a {
  display: block;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
#menu-top-menu a:hover {
  color: #ff0000;
}
#menu-top-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 0;
  cursor: pointer;
}
#menu-top-menu li.menu-item-has-children {
  padding-bottom: 30px;
}
#menu-top-menu li.menu-item-has-children:hover > .sub-menu {
  left: 0;
  bottom: -40px;
  z-index: 50;
  height: 40px;
  transition: 0.5s height, 0.5s bottom;
}
#menu-top-menu li.menu-item-has-children:hover > .sub-menu.sub-menu--fixed {
  bottom: -40px;
  height: 40px;
}
#menu-top-menu li.menu-item-has-children:hover > a {
  color: #ff0000;
}
#menu-top-menu li.menu-item-has-children > .sub-menu.sub-menu--fixed {
  bottom: -40px;
  height: 40px;
}
#menu-top-menu li > .sub-menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: 2.5s height ease-in-out, 2.5s bottom ease-in-out;
  transition-delay: 1s;
}
#menu-top-menu li > .sub-menu li {
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
#menu-top-menu li > .sub-menu a {
  display: block;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: rgba(51, 51, 51, 0.6);
}
#menu-top-menu > .active > a {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}
/*
.sub-menu.sub-menu2 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  top: -40px;
  .ul-clear();
  transition: 2.5s top;

  li {
    display: inline-block;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  a {
    display: block;
    width: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: @light-color;
    background-color: fade(#333333, 60%);

    &:hover {
      color: @active-color;
    }
  }
}

.sub-menu.sub-menu2.show {
  top: 0;
  transition: 0.5s top;
}
*/
.movie {
  padding: 40px 27px;
}
.movie-player {
  float: right;
  width: 69.98%;
  background-color: #123456;
  margin-bottom: 40px;
}
.movie-poster {
  float: left;
  width: 27.99%;
  margin-bottom: 40px;
}
.movie-poster-responsive {
  position: relative;
  height: 0;
  padding-bottom: 140.7%;
  background-position: center center;
  background-size: cover;
}
.movie-info {
  float: left;
  width: 27.99%;
  clear: left;
  margin-bottom: 40px;
}
.movie-info td {
  padding: 5px;
  vertical-align: top;
}
.movie-info td:first-child {
  padding-right: 25px;
}
.movie-synopsis {
  float: right;
  width: 69.98%;
  clear: right;
  margin-bottom: 40px;
}
.movie-synopsis p {
  margin-top: 0px;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.main-menu-toggler {
  float: right;
  margin-left: 40px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}
.main-menu-toggler span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 0;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: 1s;
}
.main-menu-toggler span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: 1s;
}
.main-menu-toggler span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: 1s;
}
.main-menu-toggler.main-menu-toggler--close span {
  background-color: transparent;
  transition: 1s;
}
.main-menu-toggler.main-menu-toggler--close span::before {
  top: 0;
  transform: rotate(-45deg);
  transition: 1s;
}
.main-menu-toggler.main-menu-toggler--close span::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: 1s;
}
/* Slider */
.slider-content {
  min-height: 350px;
  font-size: 0;
  background: #80d5ff url('img/slider_placeholder.jpg') right center no-repeat;
  background-size: cover;
}
.slider-content img {
  max-width: 100%;
  height: auto;
}
/* Main Navigation */
/* Main Content */
.main h1,
.main h2,
.main h3 {
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
  text-transform: capitalize;
}
.main.page-catalog .catalog {
  padding-left: 208px;
}
.page-title {
  margin-top: 30px;
  background-color: #244e81;
}
.page-title h1,
.page-title h2 {
  margin: 0;
  font-size: 32px;
}
.content {
  margin-top: 30px;
}
.content h2 {
  margin-top: 0;
  color: #000000;
}
/* Sidebar */
.sidebar {
  float: left;
  width: 200px;
  margin-top: 30px;
}
.sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-menu ul a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid #bcd0e5;
}
.sidebar-menu ul a:hover {
  color: #ffffff;
  background-color: #006699;
}
/* Catalog */
.catalog {
  margin: 30px auto 0 auto;
  max-width: 1040px;
  font-size: 0;
}
.catalog-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 170px;
  margin: 0 19px 40px 19px;
  font-size: 16px;
  background: #ffffff;
}
.catalog-item:hover .catalog-img {
  box-shadow: 0 3px 15px rgba(41, 52, 73, 0.4);
}
.catalog-item:hover .catalog-content h3 {
  font-weight: bold;
}
.catalog-img a {
  display: block;
  width: 100%;
  min-height: 238px;
  font-size: 0;
  line-height: 1;
  background: #fff url('../img/catalog_poster_cat.jpg') center center no-repeat;
  background-size: cover;
}
.catalog-content {
  padding: 5px;
}
.catalog-title h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
}
.catalog-title h3 a {
  text-decoration: none;
}
.catalog-info span {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}
.catalog-info .year {
  color: #ff0000;
}
/* Movie page */
/* Pagination */
.pagination {
  position: relative;
  padding: 40px;
}
.pagination .screen-reader-text {
  text-align: center;
}
.nav-links {
  margin: 20px;
  text-align: center;
}
.page-numbers {
  display: inline-block;
  vertical-align: top;
  min-width: 40px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.page-numbers:hover {
  color: #006699;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.page-numbers.current {
  font-weight: bold;
  background-color: #006699;
}
.page-numbers.current:hover {
  color: #000000;
}
/* Responsive */
@media only screen and (min-width: 660px){
  .wrap{
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1040px){
  .main-menu-toggler{
    display: none;
  }
}
@media only screen and (max-width: 559px){
  .movie{
    position: relative;
    padding: 20px;
  }
  .movie-player{
    float: none;
    width: 100%;
    clear: both;
  }
  .movie-poster{
    width: 50%;
  }
  .movie-info{
    position: absolute;
    left: 53%;
    top: 20px;
    width: 40%;
    clear: none;
  }
  .movie-info td{
    padding: 5px;
  }
  .movie-info td:first-child{
    padding-right: 5px;
  }
  .movie-synopsis{
    float: none;
    width: 100%;
    clear: both;
  }
}
@media screen and (max-width: 360px){
  .movie-info{
    font-size: 12px;
    left: 52%;
  }
}
@media screen and (max-width: 1046px){
  .catalog{
    max-width: 832px;
  }
}
@media screen and (max-width: 843px){
  .catalog{
    max-width: 624px;
  }
}
@media screen and (max-width: 635px){
  .catalog{
    max-width: 416px;
  }
}
