@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700&subset=cyrillic');
html {
  height: 100%;
}
body {
  min-width: 320px;
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: #cccccc;
}
@media only screen and (max-width: 420px) {
  body {
    font-size: 14px;
  }
}
html,
body {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content-full {
  padding-bottom: 190px;
  background-color: #ffffff;
}
@media only screen and (max-width: 520px) {
  .content-full {
    padding-bottom: 330px;
  }
}
.main {
  background-color: #f2f2f2;
}
.main--white {
  background-color: #ffffff;
}
.welcome {
  padding: 40px 10px;
  text-align: center;
  background-color: #f2f2f2;
}
@media only screen and (min-width: 780px) {
  .welcome {
    padding: 60px 110px;
  }
}
a {
  color: #333333;
}
a:hover,
a:active {
  color: #ff0000;
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  font-weight: 300;
}
/*
img {
  max-width: 100%;
  height: auto;
}
*/
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1040px;
}
.wrap {
  margin: 0 20px;
}
@media only screen and (min-width: 1040px) {
  .wrap {
    margin-right: 40px;
    margin-left: 40px;
  }
}
.header-main {
  position: relative;
  z-index: 15;
  height: 80px;
  padding: 15px 0;
  margin-bottom: 0;
  background-color: #006699;
}
@media only screen and (max-width: 780px) {
  .header-main {
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.header-main__logo {
  float: left;
  margin-right: 15px;
}
.header-main__logo a {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.header-main__logo img {
  height: 50px;
  width: auto;
}
@media only screen and (max-width: 559px) {
  .header-main__logo img {
    height: 40px;
  }
}
.header-main__title {
  float: left;
  width: 110px;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
}
@media only screen and (max-width: 559px) {
  .header-main__title {
    display: none;
  }
}
.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 190px;
  width: 100%;
  padding-top: 20px;
  color: #ffffff;
  background-color: #244e81;
}
.main-footer p {
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
}
.main-footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 520px) {
  .main-footer__menu {
    width: 45%;
    float: left;
  }
}
.main-footer__menu li {
  margin-bottom: 10px;
  font-size: 16px;
}
.main-footer__menu a {
  color: #ffffff;
  text-decoration: none;
}
.main-footer__menu a:hover {
  text-decoration: underline;
}
.main-footer .main-footer__info {
  margin-top: 20px;
  font-size: 12px;
}
.current-category-parent {
  font-weight: bold;
}
.lang-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-left: 10px;
}
.lang-list li {
  display: inline-block;
  vertical-align: top;
  padding: 15px 10px;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
}
@media only screen and (max-width: 559px) {
  .lang-list li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.lang-list li.active a {
  color: #ff0000;
}
.lang-list li:last-child {
  padding-right: 0;
}
.lang-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}
.main-nav {
  float: right;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  background-color: transparent;
}
@media only screen and (max-width: 780px) {
  .main-nav {
    float: none;
    clear: both;
    padding-top: 10px;
  }
}
.menu-top-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 5px;
  font-size: 0;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu.menu-top-menu--close {
    height: 0;
    overflow: hidden;
  }
}
.menu-top-menu a {
  display: block;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 559px) {
  .menu-top-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.menu-top-menu a:hover {
  color: #ff0000;
}
.menu-top-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 0;
  cursor: pointer;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li {
    display: block;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li.menu-item-has-children {
    padding-bottom: 0;
  }
}
.menu-top-menu li.menu-item-has-children:hover > .sub-menu {
  left: 0;
  bottom: -40px;
  z-index: 50;
  height: 40px;
  transition: 0.5s height, 0.5s bottom;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li.menu-item-has-children:hover > .sub-menu {
    position: static;
    display: block;
    height: auto;
  }
}
.menu-top-menu li.menu-item-has-children:hover > .sub-menu.sub-menu--fixed {
  bottom: -40px;
  height: 40px;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li.menu-item-has-children:hover > .sub-menu.sub-menu--fixed {
    height: auto;
  }
}
.menu-top-menu li.menu-item-has-children:hover > a {
  color: #ff0000;
}
.menu-top-menu li.menu-item-has-children > .sub-menu.sub-menu--fixed {
  bottom: -40px;
  height: 40px;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li.menu-item-has-children > .sub-menu.sub-menu--fixed {
    height: auto;
  }
}
.menu-top-menu li > .sub-menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.6);
  transition: 0.3s height ease-in-out, 0.3s bottom ease-in-out;
  transition-delay: 0.5s;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li > .sub-menu {
    position: static;
    display: block;
    height: auto;
  }
}
.menu-top-menu li > .sub-menu li {
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li > .sub-menu li {
    display: block;
    text-align: left;
  }
}
.menu-top-menu li > .sub-menu a {
  display: block;
  width: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 18px;
  text-transform: uppercase;
}
@media only screen and (max-width: 780px) {
  .menu-top-menu li > .sub-menu a {
    background-color: transparent;
    text-transform: none;
  }
}
.menu-top-menu > .current-menu-item > a {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}
.menu-top-menu > .current-menu-parent > a {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 780px) {
  .no-js .menu-top-menu.menu-top-menu--close {
    height: auto;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.current-menu-parent .current-menu-item > a {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}
.menu-top-menu--close {
  height: 0;
}
/*
.sub-menu.sub-menu2 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  top: -40px;
  .ul-clear();
  transition: 2.5s top;

  li {
    display: inline-block;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  a {
    display: block;
    width: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: @light-color;
    background-color: fade(#333333, 60%);

    &:hover {
      color: @active-color;
    }
  }
}

.sub-menu.sub-menu2.show {
  top: 0;
  transition: 0.5s top;
}
*/
.main-menu-toggler {
  float: right;
  margin-left: 40px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}
.main-menu-toggler.no-js {
  display: none;
}
@media only screen and (min-width: 780px) {
  .main-menu-toggler {
    display: none;
  }
}
@media only screen and (max-width: 559px) {
  .main-menu-toggler {
    width: 30px;
    height: 30px;
  }
}
.main-menu-toggler span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 0;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: 0.5s;
}
.main-menu-toggler span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: 0.5s;
}
.main-menu-toggler span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: 0.5s;
}
.main-menu-toggler.main-menu-toggler--close span {
  background-color: transparent;
  transition: 0.5s;
}
.main-menu-toggler.main-menu-toggler--close span::before {
  top: 0;
  transform: rotate(-45deg);
  width: 80%;
  left: 10%;
  transition: 0.5s;
}
.main-menu-toggler.main-menu-toggler--close span::after {
  bottom: 0;
  transform: rotate(45deg);
  width: 80%;
  left: 10%;
  transition: 0.5s;
}
.no-js .main-menu-toggler {
  display: none;
}
.slider-content {
  min-height: 350px;
  font-size: 0;
  background: #80d5ff url('img/slider_placeholder.jpg') right center no-repeat;
  background-size: cover;
}
.slider-content img {
  max-width: 100%;
  height: auto;
}
.slider .theme-default .nivo-caption {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 420px) {
  .slider .theme-default .nivo-caption {
    font-size: 12px;
  }
}
.content {
  margin-bottom: 30px;
}
.content p {
  margin-top: 25px;
}
.content-title {
  margin-top: 40px;
  background-color: #244e81;
}
@media only screen and (max-width: 780px) {
  .content-title:first-child {
    margin-top: 0;
  }
}
.content-title h1,
.content-title h2 {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 300;
  font-size: 28px;
}
.content-title--top0 {
  margin-top: 0;
}
.catalog {
  max-width: 1000px;
  margin: 30px auto 0 auto;
  font-size: 0;
}
.catalog-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 210px;
  margin: 0 20px 40px;
  font-size: 14px;
  background-color: transparent;
}
.catalog-item:hover .catalog-img {
  box-shadow: 0 3px 15px rgba(41, 52, 73, 0.4);
  box-shadow: 0 0 15px rgba(0, 153, 153, 0.8);
}
.catalog-item:hover .catalog-title a {
  color: #009999;
}
.catalog-img a {
  display: block;
  width: 100%;
  min-height: 293px;
  font-size: 0;
  line-height: 1;
  background: transparent url('../img/catalog_poster_cat.jpg') center center no-repeat;
  background-size: cover;
}
.catalog-content {
  padding: 5px;
}
.catalog-title {
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-weight: bold;
}
.catalog-title a {
  color: #333333;
  text-decoration: none;
}
.catalog-info {
  font-size: 14px;
  font-weight: normal;
  color: #797979;
}
.catalog-info span {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}
.catalog-info a {
  color: #797979;
  text-decoration: none;
}
.catalog-info a:hover,
.catalog-info a:active {
  text-decoration: underline;
}
@media screen and (max-width: 1039px) {
  .catalog {
    max-width: 750px;
  }
}
@media screen and (max-width: 765px) {
  .catalog {
    max-width: 690px;
  }
  .catalog-item {
    width: 200px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .catalog-img a {
    min-height: 279px;
  }
}
@media screen and (max-width: 705px) {
  .catalog {
    max-width: 460px;
  }
  .catalog-item {
    width: 200px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .catalog-img a {
    min-height: 279px;
  }
}
@media screen and (max-width: 479px) {
  .catalog {
    max-width: 230px;
  }
}
.movie {
  padding: 40px 27px;
}
.movie-player {
  float: right;
  width: 69.98%;
  background-color: #123456;
  margin-bottom: 40px;
}
.movie-poster {
  float: left;
  width: 27.99%;
  margin-bottom: 40px;
}
.movie-poster-responsive {
  position: relative;
  height: 0;
  padding-bottom: 140.7%;
  background-position: center center;
  background-size: cover;
}
.movie-info {
  float: left;
  width: 27.99%;
  clear: left;
  margin-bottom: 40px;
}
.movie-info td {
  padding: 5px;
  vertical-align: top;
}
.movie-info td:first-child {
  padding-right: 25px;
}
.movie-synopsis {
  float: right;
  width: 69.98%;
  clear: right;
  margin-bottom: 40px;
}
.movie-synopsis p {
  margin-top: 0px;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media only screen and (max-width: 559px) {
  .movie {
    position: relative;
    padding: 20px;
  }
  .movie-player {
    float: none;
    width: 100%;
    clear: both;
  }
  .movie-poster {
    width: 50%;
  }
  .movie-info {
    position: absolute;
    left: 53%;
    top: 20px;
    width: 40%;
    clear: none;
  }
  .movie-info td {
    padding: 5px;
  }
  .movie-info td:first-child {
    padding-right: 5px;
  }
  .movie-synopsis {
    float: none;
    width: 100%;
    clear: both;
  }
}
@media screen and (max-width: 360px) {
  .movie-info {
    font-size: 12px;
    left: 52%;
  }
}
.pagination {
  position: relative;
  padding: 40px 0;
}
.pagination .screen-reader-text {
  text-align: center;
  font-size: 0;
}
.nav-links {
  margin: 20px;
  font-size: 16px;
  text-align: center;
}
@media only screen and (max-width: 559px) {
  .nav-links {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.page-numbers {
  display: inline-block;
  vertical-align: top;
  min-width: 40px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
@media only screen and (max-width: 780px) {
  .page-numbers {
    margin-right: 2px;
    margin-left: 2px;
  }
}
@media only screen and (max-width: 559px) {
  .page-numbers {
    min-width: 30px;
    padding: 6px 2px;
    margin-bottom: 10px;
  }
}
.page-numbers:hover {
  color: #333333;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.page-numbers.current {
  font-weight: bold;
  color: #ffffff;
  background-color: #009999;
}
.page-numbers.current:hover {
  color: #333333;
}
.sale-depart {
  padding-top: 40px;
  padding-bottom: 0;
  text-align: center;
}
@media only screen and (min-width: 780px) {
  .sale-depart {
    width: 50%;
    float: left;
    padding-bottom: 40px;
    text-align: left;
  }
}
.sale-depart__item a {
  font-size: 24px;
  text-decoration: none;
}
.sale-depart__item a:hover {
  color: #006699;
  text-decoration: underline;
}
.sale-depart--footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.sale-depart--footer::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  height: 1px;
  background-color: #ffffff;
}
.sale-depart--footer p {
  padding: 5px 0;
  font-size: 16px;
}
.sale-depart--footer .sale-depart__item {
  font-size: 18px;
}
@media only screen and (min-width: 520px) {
  .sale-depart--footer {
    padding-top: 0;
    width: 50%;
    float: right;
    text-align: left;
  }
  .sale-depart--footer::before {
    height: 0;
  }
  .sale-depart--footer.sale-depart--footer {
    float: right;
  }
  .sale-depart--footer.sale-depart--footer p {
    margin-bottom: 5px;
  }
}
.sale-depart--footer a {
  font-size: 18px;
  color: #ffffff;
}
.sale-depart--footer a:hover {
  color: #ffffff;
}
.wpcf7 {
  padding: 20px 20px 40px;
}
@media only screen and (min-width: 780px) {
  .wpcf7 {
    width: 50%;
    float: right;
    padding-top: 40px;
  }
}
.feedback-form__item {
  margin-bottom: 20px;
}
.wpcf7 p {
  margin-bottom: 20px;
}
.wpcf7 input,
.wpcf7 textarea {
  width: 100%;
  padding: 10px;
}
.wpcf7 input::-webkit-input-placeholder,
.wpcf7 textarea::-webkit-input-placeholder {
  color: rgba(0, 153, 153, 0.5);
}
.wpcf7 input::-moz-placeholder,
.wpcf7 textarea::-moz-placeholder {
  color: rgba(0, 153, 153, 0.5);
}
.wpcf7 input:-ms-input-placeholder,
.wpcf7 textarea:-ms-input-placeholder {
  color: rgba(0, 153, 153, 0.5);
}
.wpcf7 input[type="submit"] {
  max-width: 180px;
  font-weight: bold;
  outline: none;
  color: #ffffff;
  background-color: #006699;
  border-radius: 5px;
}
.wpcf7 input[type="submit"]:hover {
  box-shadow: 0 0 15px rgba(0, 153, 153, 0.9);
}
.wpcf7 textarea {
  resize: none;
}
