.content {
  margin-bottom: @base-margin;

  p {
    margin-top: 25px;
  }
}

.content-title {
  background-color: @bg-color;

  h1,
  h2 {
    margin: 0;
    margin-top: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 300;
    font-size: 28px;
  }



  &--top0 {
    h1,
    h2 {
      margin-top: 0;
    }
  }
}