.header-main {
  position: relative;
  z-index: 15;
  height: 80px;
  padding: 15px 0;
  margin-bottom: 40px;
  background-color: @brand-color;

  @media @tablet-width {
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &--index {
    margin-bottom: 0;
  }
}

.header-main__logo {
  float: left;
  margin-right: 15px;

  a {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
  }

  img {
    height: 50px;
    width: auto;

    @media @mobile-big-width {
      height: 40px;
    }
  }
}

.header-main__title {
  float: left;
  width: 110px;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  font-family: @font-base;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;

  @media @mobile-big-width {
    display: none;
  }
}