.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: @height-footer;
  width: 100%;
  padding-top: 20px;
  color: @light-color;
  background-color: @bg-color;

  p {
    margin: 0;
    padding: 10px 0;
    font-size: 12px;
  }

  &__menu {
    .ul-clear();

    @media @mobile-depart {
      width: 45%;
      float: left;
    }

    li {
      margin-bottom: 10px;
      font-size: 16px;
    }

    a {
      color: @light-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .main-footer__info {
    margin-top: 20px;
    font-size: 12px;
  }

  .current-category-parent {
    font-weight: bold;
  }
}
