.slider-content {
  min-height: 350px;
  font-size: 0;
  background: lighten(@brand-color, 45%) url('img/slider_placeholder.jpg') right center no-repeat;
  background-size: cover;

  img {
    max-width: 100%;
    height: auto;
  }
}